@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao MyFinance Web</h1>
    <p>Esse é o site que vai te ajudar a controlar suas finanças e não ficar no vermelho.</p><br><br>
    <p>Utilizar o menu Plano Conta para cadatrar os tipos de despesas e receitas.</p>
    <p>E utilize o menu Transações para registrar as despesas e receitas.</p>
</div>
