@{
    ViewData["Title"] = "Política de Segurança";
}
<h1>@ViewData["Title"]</h1>

<P>Bem-vindo ao nosso site de Finanças Pessoais, onde a segurança e a proteção dos seus dados são nossas principais prioridades. Estamos empenhados em garantir que suas informações financeiras permaneçam confidenciais e seguras. Abaixo, destacamos as principais diretrizes da nossa Política de Segurança:
<br> <br>
    <h3>Criptografia de Dados</h3>
    Toda a comunicação entre o seu navegador e nossos servidores é protegida por criptografia SSL/TLS. Isso garante que suas informações, como dados de contas e transações, sejam transmitidas de maneira segura.

    <h3>Acesso Seguro</h3>
    Implementamos medidas rigorosas para controlar o acesso às áreas restritas do site. Incentivamos o uso de autenticação de dois fatores (2FA) para adicionar uma camada extra de segurança às suas informações.

    <h3>Monitoramento Contínuo</h3>
    Utilizamos sistemas avançados de monitoramento para identificar atividades suspeitas ou não autorizadas. Isso nos permite responder rapidamente a possíveis ameaças à segurança.

    <h3>Armazenamento Protegido</h3>
    Suas informações são armazenadas em ambientes altamente seguros, com acesso restrito apenas a pessoal autorizado. Praticamos a criptografia de dados em repouso para proteger suas informações enquanto estão armazenadas em nossos servidores.

    <h3>Atualizações de Segurança</h3>
    Mantemos nossos sistemas e software atualizados regularmente, aplicando patches de segurança para proteger contra vulnerabilidades potenciais e garantir a estabilidade do ambiente.

    <h3>Compromisso com a Privacidade</h3>
    Comprometemo-nos a cumprir todas as regulamentações de privacidade e segurança de dados relevantes. Nossa política está alinhada com as leis locais e internacionais para garantir a proteção dos seus direitos e privacidade.
<br>
<p class="lead">
Esta Política de Segurança é revisada periodicamente para garantir sua eficácia contínua. Acreditamos que a segurança é um esforço contínuo, e estamos dedicados a aprimorar constantemente nossas práticas para oferecer uma experiência segura e tranquila aos nossos usuários. Se tiver alguma dúvida ou preocupação, não hesite em entrar em contato com nossa equipe de suporte.</P>
</p>